/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.main-user{
  border: 2px solid rgb(20, 19, 19);
  padding: 20px 30px;
  border-radius: 5px;
 width: fit-content;
 margin-top: 50px;
 height: fit-content;
 /* width: 400px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.main-user-Dark{
  border: 2px solid rgb(208, 200, 200);
  padding: 20px 30px;
  border-radius: 5px;
 width: fit-content;
 margin-top: 50px;
 height: fit-content;
 /* width: 400px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  
}

.sub-user{
  color: black;
  font-size: 24px;
  font-weight: 600;

}

.sub-user-Dark{
  color: rgb(246, 239, 239);
  font-size: 24px;
  font-weight: 600;

}

.main-user p{
  color: black;
  font-size: 18px;
  font-weight: 500;
  gap: 10px;
}

.main-user-Dark p{
  color: rgb(255, 246, 246);
  font-size: 18px;
  font-weight: 500;
  gap: 10px;
}


.main-user-Dark{
  border: 2px solid rgb(208, 200, 200);
  padding: 20px 30px;
  border-radius: 5px;
 width: fit-content;
 margin-top: 50px;
 height: fit-content;
  
}

.user-list{
  list-style: none;
  color: black;
  text-decoration: none;
}


.form {
  color: #222;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid gray,
}

.form input {
  padding: 10px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
}

.form p {
  color: red;
  font-size: 12px;
}

.formd {
  color: #f1f1f1;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid white,
}

.formd input {
  padding: 10px;
  border: 1px solid #444;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  background-color: #333;
}

.formd p {
  color: #ff6b6b;
  font-size: 12px;
}

.buttons {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #646cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

