:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* reset + safe defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* width: 100%; */
  /* height: 100vh; */
}
/* Prevent horizontal scroll
html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* hide horizontal overflow site-wide */

/* Make images and iframes safe
img, picture, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
} */

/* Prevent long words from forcing width */
/* * {
  overflow-wrap: break-word;
  word-break: break-word;
} */
