.square{
  display: flex;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.block{
  border: 1px solid red;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span{
  color: rgb(124, 124, 201);
}

.win{
  font-size: large;
  color: black;
  font-weight: bold;
}