.layout-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(109, 99, 99, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg");

  background-position: center;
  background-size: cover;
}

.layout-container-dark {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(180, 174, 174, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://png.pngtree.com/thumb_back/fh260/background/20231023/pngtree-foreboding-storm-intense-texture-of-dark-heavy-thunderstorm-clouds-in-overcast-image_13677601.png");

 
  background-position: center;
  background-size: cover;
}

.layout-container-sunny {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(153, 140, 140, 0.445),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://images.unsplash.com/photo-1419833173245-f59e1b93f9ee?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3VubnklMjB3ZWF0aGVyfGVufDB8fDB8fHww");

 
  background-position: center;
  background-size: cover;
}

