.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbardark {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid #fafeff;
}

.navbarsunny {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  padding: 0 20px;
  border-bottom: 1px solid #29c4eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-item {
  color: #222;
  font-weight: 500;
  font-size: 18px;
}

.navbardark .nav-item {
  color: #fff;
   font-weight: 500;
  font-size: 18px;
}

.navbarsunny .nav-item {
  color: #ff8c00;
   font-weight: 500;
  font-size: 18px;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.nav-item {
  cursor: pointer;
  font-size: 15px;
  color: #333;
  text-decoration: none;
}

.nav-item:hover {
  color: #000;
}

.navbar .nav-item:hover{
    color: white;
}

.nav-right .theme-btn {
  padding: 5px 12px;
  font-size: 14px;
  background: rgb(212, 203, 203);
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  color: black;
}

.nav-right select {
  width: 70px;
  padding: 5px;
  border: none;
  border-radius: 3px;
}



@media screen and (max-width: 480px) {
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
}