.navbar {
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    gap: 20px;
}

.nav-item {
    cursor: pointer;
    font-size: 15px;
    color: #333;
}

.nav-item:hover {
    color: #000;
}

.nav-right .theme-btn {
    padding: 5px 12px;
    font-size: 14px;
    background: rgb(45, 43, 43);
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}

.theme-btn:hover {
    color: black;
    background: #887777;
}