.input-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  gap: 15px;
}

.input-main input {
  padding: 8px 6px;
  border-radius: 5px;
  border: none;
  width: 350px;
}

.input-main button {
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.mains {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.308);
  width: 100%;
  height: 30%;
  border-radius: 5px;
}
