.main-cart{
    min-height: 800px;
    overflow-x: hidden;
    
}
.main-cart{
    text-align: center;
}

.sub-cart3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.global-btn{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(231, 107, 107);
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  height: 30px;
  font-size: 20px;
}

.cart-total {
  font-size: 22px;
  font-weight: bold;
  color: darkgreen;
  margin-top: 20px;
  text-align: right;
}

.cart-total-box {
  border-top: 2px dashed black;  
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  width: 60%;
  padding-left: 20px;
  margin-left: 20px;
}

