.footer {
 display: flex;
align-items: center;
justify-content: space-around;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.165);
}

.footer-main {

height: 380px;
}