.main-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  align-items: center;
  justify-content: center;
  border-radius: 2px solid red;
}
.mains-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main-layouts {
  display: flex;
  width: 60%;
}

.sub-main2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
 font-size: 20px;
  padding: 20px;
  font-weight: 500;
  font-family: cursive;
  text-align: center;
}
.sub-main {
  width: 50%;
  border-right: 2px solid black;
}
.sub-main3{
  display: flex;
  align-items: center;
  justify-content: center;

}
