.main-layout-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

}
.main-layouts {
  display: flex;
  width: 60%;
}

.sub-main2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
 font-size: 20px;
  padding: 20px;
  font-weight: 500;
  font-family: cursive;
}
.sub-main {

  width: 50%;
}
