.nav-main{
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 233, 232);
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}
.Navlink{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.card-nav{
    width: 15%;
    display: flex;
    justify-content: end;
    align-items: end;
    text-decoration: none;

}

