.main-product {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 30px;
  min-height: 900px;
  margin-bottom: 50px;
}

.sub-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  padding: 10px 50px;
}
