.main-product{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 30px;
    height: 900px;
}

.sub-product{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 10px 20px;
}