.product {
  width: 250px;
  min-height: 280px;
  background-color:#eeebeb;
  padding: 10px;
  border-radius: 7px;
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.product-content {
  width: 80%;
  padding: 0px 5px;
}

.product-content p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  height: 70px;
}
.product-button {
  display: flex;
 gap: 20px;
  margin: 20px 0px;
}
.product-content h3 {
  margin: 5px 0px;
}

.product-button button {
  padding: 5px 10px;
  cursor: pointer;
}

.add{
    background: rgb(214, 35, 35);
    color: white;
    border: none;
    border-radius: 5px;
}

.buy{

    background: rgb(64, 99, 214);
    color: white;
    border: none;
    border-radius: 5px;
}
