.main-review-container{
    border: 2px solid red;
    margin-bottom: 50px;
   
}

.sub-main-review{
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.show-review{
  gap: 10px;
  margin: 15px;
  display: flex;
}