.main-review-container{
    margin-bottom: 50px;
}

.sub-main-review{
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.show-review{
  gap: 20px;
  margin: 15px;
  display: flex;
  
}