.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}


.review-title {
  font-size: 15px;
  margin-bottom: 5px;
}

.review-list {
  padding-left: 18px;
}

.review-list li {
  font-size: 13px;
  color: #333;
  margin-bottom: 4px;
}
